body {
    background-color: #f7fff7;
    
  }


  h3 {
    color: #5281BD;
    font-family: 'Ibarra Real Nova', bold;
    text-align: left;
    font-weight: 100px;
    padding: 10px;
    animation-name: whoosh;
    animation-duration: 8.0s;
    animation-iteration-count: infinite;
    position: relative;
  }

  li a {
    font-family: 'Ibarra Real Nova', bold;
    font-weight: 100px;
    text-decoration: none;
    background-color: #f7fff7;
    color: #5281BD;
    float: left;
    padding: 8px 20px;
  }

  @keyframes whoosh{
    0% {
      transform: rotate(-1deg); 
  }
  50% {
      transform: rotate(1deg); 
  }
  100% {
      transform: rotate(-1deg); 
  }
}

  .relaxWhoosh{

    color: rgb(255, 255, 255);
    font-family: Rubik Puddles;
    text-align: center;
    font-size: 40px;
    animation-name: whooshTwo;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    position: relative;


  }

  @keyframes whooshTwo{
    0% {
      left:0px; top:0px;
    }
    50% {
     right:0px; top:0px;
      
    }
    100% {
      left:0px; top:0px;
    }
  }


  p {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: poppins;
    text-align: center;
    padding: 10px;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .floor {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    width: 50%;
  }

  .centerVideo {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 520px; 
    height: 420px; 
    margin: auto;
  }

  .bordered-video {
    width: 540px; 
    height: 390px;
    border: 15px solid #46634e;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  }

  .rectangle {
    height: 22%;
    width: 100%;
    background-color: #555;
    position: absolute; 
    bottom: 0;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    background-color: #318d48;
    text-align: center;

  }
  

  li a:hover {
    background-color: #246835;
    color: #99d27d;
  }
  

  .collapsibleList {
    font-size: 26px;
    font-family: 'Courier New', Courier, monospace;
    background-color: aliceblue;
    padding: 6px;
    border: none;
    color: rgb(34, 155, 196);
    border-radius: 4px;
    font-family: poppins;
    text-align: center;
    margin: auto;
    width: 40%;
    padding: 18px;
    display: flex;
    
  }

  .active, .collapsibleList:hover {
    background-color: aliceblue;
  }


  .content{
    padding: 0 10px;
    outline: none;
    text-align: center;
    text-decoration: line-through;
    margin: center;
    display: none;
    overflow: hidden;
    background-color: #82a3d7;
    box-shadow: 2px 10px 12px 1px ;
  }

/* JS timer */
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

.hero{
    height: 100vh;
    background-image: linear-gradient(rgba(126, 217, 229, 0.5), 
    rgba(17, 117, 85, 0.5)), url(background.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 200px;
    color: #fff;
}

h1{
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 20px;
}

h2{
  font-family: poppins;
  font-size: 30px;
}

.timebox{
    display: flex;
    gap: 90px;
}

.time{
    text-align: center;
}

.time h2{
    font-size: 5rem;
    font-weight: 100;
}
/* JS timer */

.cloud1 {
  position: absolute;
  top: 30%;
  left: -150px; /* Start off-screen */
  width: 150px;
  height: 100px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 70px 0px 0px 20px rgba(255, 255, 255, 1.0);
  animation: moveCloud 15s linear infinite;
  animation-delay: 0s;
}

.cloud2 {
  position: absolute;
  top: 20%;
  left: -150px; 
  width: 150px;
  height: 100px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 70px 0px 0px 20px rgba(255, 255, 255, 1.0);
  animation: moveCloud 15s linear infinite;
  animation-delay: 4s;
}

.cloud3 {
  position: absolute;
  top: 50%;
  left: -150px; 
  width: 160px;
  height: 100px;
  background: #fff;
  border-radius: 70%;
  box-shadow: 70px 0px 0px 20px rgba(255, 255, 255, 1.0);
  animation: moveCloud 15s linear infinite;
  animation-delay: 5s;
}

.cloud4 {
  position: absolute;
  top: 80%;
  left: -150px; 
  width: 160px;
  height: 100px;
  background: #fff;
  border-radius: 70%;
  box-shadow: 70px 0px 0px 20px rgba(255, 255, 255, 1.0);
  animation: moveCloud 15s linear infinite;
  animation-delay: 8s;
}

.cloud5 {
  position: absolute;
  top: 95%;
  left: -150px; 
  width: 160px;
  height: 100px;
  background: #fff;
  border-radius: 70%;
  box-shadow: 70px 0px 0px 20px rgba(255, 255, 255, 1.0);
  animation: moveCloud 15s linear infinite;
  animation-delay: 4s;
}

@keyframes moveCloud {
  from {
      left: -150px;
  }
  to {
      left: 100%;
  }
}