body {
    background-color: #eae7e1;
    
  }


  h1 {
    color: rgb(101, 136, 180);
    font-family: Rubik Puddles;
    text-align: center;
    font-size: 50px;
  }
  p {
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-family: geneva;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 145px;
    background-color: #f1f1f1;
    text-align: center;
    

  }
  
  li a {
    font-family: geneva;
    display: block;
    color: #5fa5eb;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 12px;
  }

  li a:hover {
    background-color: #73a0cc;
    color: white;
  }
  

  .collapsibleList {
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    background-color: aliceblue;
    padding: 6px;
    border: none;
    color: rgb(34, 155, 196);
  }

  .collapsibleList{border-radius: 3px;}

  .active, .collapsibleList:hover {
    background-color: aliceblue;
  }

  p.collapsibleList{
    text-decoration: strikethrough;
  }

  .content{
    padding: 0 6px;
    outline: none;
    text-align: left;
    margin: center;
    display: none;
    overflow: hidden;
    background-color: #82a3d7;
  }