body {
    background-color: #f7fff7;
  }


  h3 {
    color: #5281BD;
    font-family: 'Ibarra Real Nova';
    text-align: left;
    font-size: 25px;
    font-weight: 100px;
    padding: 20px;
    padding-top: 30px;
    padding-left: 40px ;
    animation-name: whoosh;
    animation-duration: 8.0s;
    animation-iteration-count: infinite;
    position: relative;
  }

  .title {
    font-family: 'Ibarra Real Nova', bold;
    font-weight: 600;
    color: #D2C34F;
    padding-top: 20px;
  }

  li a {
    font-family: 'Ibarra Real Nova';
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
    background-color: #f7fff7;
    color: #5281BD;
    float: left;
    padding: 20px 20px;
    padding-left: 25px;
    padding-right: 40px;
  }

  

  @keyframes whoosh{
    0% {
      transform: rotate(-1deg); 
  }
  50% {
      transform: rotate(1deg); 
  }
  100% {
      transform: rotate(-1deg); 
  }
}

  .relaxWhoosh{

    color: rgb(255, 255, 255);
    font-family: Rubik Puddles;
    text-align: center;
    font-size: 40px;
    animation-name: whooshTwo;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    position: relative;


  }

  @keyframes whooshTwo{
    0% {
      left:0px; top:0px;
    }
    50% {
     right:0px; top:0px;
      
    }
    100% {
      left:0px; top:0px;
    }
  }


  p {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: poppins;
    text-align: center;
    padding: 10px;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .floor {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 50%;
  }

  .centerVideo {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 520px; 
    height: 420px; 
    margin: auto;
  }

  .bordered-video {
    width: 540px; 
    height: 390px;
    border: 15px solid #46634e;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    background-color: ##f7fff7;
    text-align: center;

  }

  .container{
    margin: 80px;
    padding: 40px;
    box-sizing: border-box;
    font-family: 'Ibarra Real Nova', bold;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    color: #D2C34F;
    background-color: #F2E9AB;
    border-radius: 1.5em;
    
  }

  .timer{
    color: #D2C34F;
    font-size: 90px;
    font-family: 'Ibarra Real Nova', bold;
    font-weight: 600;
    padding-bottom: 40px;
  }

  button{
    font-family: 'Instrument Sans', bold;
    font-weight: 600;
    font-size: 22px;
    border-radius: 0.5em;
    border: none;
    padding: 0.7em 1.5em;
    box-shadow: 2px 2px 2px rgba(184, 176, 176, 0.9);
  }

  #start {
    background-color: #5281BD; 
    opacity: 90%;
    color: white;
  }
  
  #stop {
    background-color: #5281BD; 
    opacity: 90%;
    color: white;
  }
  
  #reset {
    background-color: #5281BD; 
    opacity: 90%;
    color: white;
  }

  .button-wrapper{
    display: flex;
    color: #82a3d7;
    gap: 25px;
    
  }  
  



  .content{
    padding: 0 10px;
    outline: none;
    text-align: center;
    text-decoration: line-through;
    margin: center;
    display: none;
    overflow: hidden;
    background-color: #82a3d7;
    box-shadow: 2px 10px 12px 1px ;
  }

/* JS timer */
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

h1{
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 20px;
}

h2{
  font-family: poppins;
  font-size: 30px;
}

.timebox{
    display: flex;
    gap: 90px;
}

.time{
    text-align: center;
}

.time h2{
    font-size: 5rem;
    font-weight: 100;
}
/* JS timer */

.cloud1 {
  position: absolute;
  top: 30%;
  left: -150px; /* Start off-screen */
  width: 150px;
  height: 100px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 70px 0px 0px 20px rgba(255, 255, 255, 1.0);
  animation: moveCloud 15s linear infinite;
  animation-delay: 0s;
}

.cloud2 {
  position: absolute;
  top: 20%;
  left: -150px; 
  width: 150px;
  height: 100px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 70px 0px 0px 20px rgba(255, 255, 255, 1.0);
  animation: moveCloud 15s linear infinite;
  animation-delay: 4s;
}

.cloud3 {
  position: absolute;
  top: 50%;
  left: -150px; 
  width: 160px;
  height: 100px;
  background: #fff;
  border-radius: 70%;
  box-shadow: 70px 0px 0px 20px rgba(255, 255, 255, 1.0);
  animation: moveCloud 15s linear infinite;
  animation-delay: 5s;
}

.cloud4 {
  position: absolute;
  top: 80%;
  left: -150px; 
  width: 160px;
  height: 100px;
  background: #fff;
  border-radius: 70%;
  box-shadow: 70px 0px 0px 20px rgba(255, 255, 255, 1.0);
  animation: moveCloud 15s linear infinite;
  animation-delay: 8s;
}

.cloud5 {
  position: absolute;
  top: 95%;
  left: -150px; 
  width: 160px;
  height: 100px;
  background: #fff;
  border-radius: 70%;
  box-shadow: 70px 0px 0px 20px rgba(255, 255, 255, 1.0);
  animation: moveCloud 15s linear infinite;
  animation-delay: 4s;
}

@keyframes moveCloud {
  from {
      left: -150px;
  }
  to {
      left: 100%;
  }
}

/* this is my task page css */

.task-page {
  display: flex;
  justify-content: space-around;
  padding-top: 2%;
  padding-left: 1%;
  background-color: #f7fff7;
}

.task-input {
  width: 40%;
  height: 200px;
  background-color: #F2E9AB;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
}

.task-list {
  width: 35%;
  height: 720px;
  background-color: #5281BD;
  opacity: 70%;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
  margin-top: -60px;
}

.task-input h2, .task-list h2 {
  color: #ffffff;
  font-family: 'Ibarra Real Nova';
  text-align: center;
}

.task-list h2 {
  text-align: center;
  margin-bottom: 20px; 
}

#taskInput {
  width: 100%;
  padding: 10px;
  font-family: 'Ibarra Real Nova';
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px dotted #5281BD;
}

button {
  padding: 10px 16px;
  background-color: #82a3d7;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Ibarra Real Nova';
}

button:hover {
  background-color: #e5a9d1;
}

#taskList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-height: 400px; /* Optional: limit height */
  overflow-y: auto;   /* Optional: make scrollable */
}

#taskList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  word-break: break-word;
  padding: 10px;
  padding-top: 10px;
  background-color: #ffffff;
  border-left: 5px solid #50c252;
  border-radius: 6px;
}


/* room space css */
.study-room {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #f7fff7; /* optional cozy background */
  overflow: hidden;
}

.window-center {
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
}

.carpet-link {
  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);
}

.coffee-table-link {
  position: absolute;
  top: 43%;
  right: 8%;
}

.lounge-chair-link {
  position: absolute;
  top: -12%;
  left: 2%;
}

.window-center img {
  width: 720px;
  height: 450px;
}

.carpet-link img {
  width: 900px;
}

.coffee-table-link img {
  width: 400px;
}

.lounge-chair-link img {
  width: 650px;
}

.lamp-link {
  position: absolute; /* necessary to place it over other elements */
  top: -20%;
  left: 41%;
  z-index: 5; /* higher than the others */
}

.lamp-link img {
  width: 250px;
}

